body {
  padding-top: 100px;
  padding-bottom: 40px;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-signin input {
  margin-top: 15px;
  margin-bottom: 15px;
}
h2 {
  padding-bottom: 25px;
}

div.card {
  max-width: 500px;
  margin: 0 auto;
}

div.card > div.card-body {
  padding: 50px;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
